<section class="section brd-btm" id="projects">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">项目经历</h2>

            <div class="ref-projects-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/projects/ICRA2019.png' | prepend: site.baseurl }}" class="avatar-54 photo" width="30%" >
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>Transferring Grasp Configurations using Active Learning and Local Replanning</strong>
                        <span>IEEE International Conference on Robotics and Automation (ICRA 2019)</span>
						<!-- to appear in IEEE International Conference on Robotics and Automation (ICRA 2019) -->
                    </div>

                    <blockquote class="ref-cont clear-mrg">
						<ul>
						<li>田浩， 王长波， Dinesh Manocha， 张新宇</li>
						<!-- Hao Tian, Changbo Wang, Dinesh Manocha, Xinyu Zhang -->
						<li>arXiv paper <a href="https://arxiv.org/abs/1807.08341">https://arxiv.org/abs/1807.08341</a></li>
						</ul>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
			<div class="ref-projects-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/projects/IROS2018.png' | prepend: site.baseurl }}" class="avatar-54 photo" height="120" width="120">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>美国马里兰大学帕克分校 (University of Maryland at College Park)</strong>
                        <span>2018.03 - 2019.03 | 计算机科学系 | 联合培养博士生</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
						<ul>
						<li>指导教师：Prof. Dinesh Manocha</li>
						<li>由国家留学基金委公派联合培养博士生项目资助</li>
						<li>灵巧手抓取规划 (dexterous hand grasp planning)，灵巧手操作规划 (dexterous hand manipulation planning)</li>
						</ul>
						
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
			<div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/ECNU.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="114" width="114">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>华东师范大学</strong>
                        <span>2010.09 - 2014.06 | 软件工程学院 | 学士</span>
                    </div>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->