<section class="section brd-btm" id="projects">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">项目经历</h2>

            <div class="ref-projects-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/projects/ICRA2019.png' | prepend: site.baseurl }}" class="avatar-54 photo" width="30%" >
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>Transferring Grasp Configurations using Active Learning and Local Replanning</strong>
                        <span>IEEE International Conference on Robotics and Automation (ICRA 2019)</span>
						<!-- to appear in IEEE International Conference on Robotics and Automation (ICRA 2019) -->
                    </div>

                    <blockquote class="ref-cont clear-mrg">
						<ul>
						<li>Hao Tian, Changbo Wang, Dinesh Manocha, Xinyu Zhang</li>
						<!-- Hao Tian, Changbo Wang, Dinesh Manocha, Xinyu Zhang -->
						<li>arXiv paper <a href="https://arxiv.org/abs/1807.08341">https://arxiv.org/abs/1807.08341</a></li>
						</ul>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
			<div class="ref-projects-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/projects/IROS2018.png' | prepend: site.baseurl }}" class="avatar-54 photo" width="35%">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>Interactive Grasping for High-genus Objects using Configuration Space Learning</strong>
                        <span>2019 IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS)</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
						<ul>
						<li>Hao Tian, Changbo Wang, Dinesh Manocha, Xinyu Zhang</li>
						<li>paper <a href="link">https://www.birmingham.ac.uk/Documents/college-eps/metallurgy/tigworkshop/1.pdf</a></li>
						</ul>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
			<div class="ref-projects-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/projects/TVCG2018.png' | prepend: site.baseurl }}" class="avatar-54 photo" width="30%">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>Realtime Hand-Object Interaction using Learned Grasp Space for Virtual Environments</strong>
                        <span>IEEE Transactions on Visualization and Computer Graphics</span>
                    </div>
					<blockquote class="ref-cont clear-mrg">
						<ul>
						<li>Hao Tian, Changbo Wang, Dinesh Manocha, Xinyu Zhang</li>
						<li>paper <a href="https://ieeexplore.ieee.org/document/8392385/">https://ieeexplore.ieee.org/document/8392385/</a></li>
						</ul>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
			<div class="ref-projects-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/projects/IEEEVR2018.png' | prepend: site.baseurl }}" class="avatar-54 photo" width="30%">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>A Realtime Virtual Grasping System for Manipulating Complex Objects</strong>
                        <span>2018 IEEE Conference on Virtual Reality and 3D User Interfaces</span>
                    </div>
					<blockquote class="ref-cont clear-mrg">
						<ul>
						<li>Hao Tian, Changbo Wang, Xinyu Zhang</li>
						<li>paper <a href="https://ieeexplore.ieee.org/document/8446538">https://ieeexplore.ieee.org/document/8446538</a></li>
						</ul>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
			<div class="ref-projects-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/projects/SIG2017.png' | prepend: site.baseurl }}" class="avatar-54 photo" width="25%">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>SeLL: second language learning paired with VR and AI</strong>
                        <span>SIGGRAPH Asia 2017 Symposium on Education</span>
                    </div>
					<blockquote class="ref-cont clear-mrg">
						<ul>
						<li>Juan Guo, Yu Chen, Qikai Pei, Hua Ren, Nan Huang, Hao Tian, Manni Zhang, Yao Liu, Guohe Fu, Huaqiang Hu, Xinyu Zhang</li>
						<li>paper <a href="https://dl.acm.org/citation.cfm?id=3139213">https://dl.acm.org/citation.cfm?id=3139213</a></li>
						</ul>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
			<div class="ref-projects-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/projects/SPM2015.png' | prepend: site.baseurl }}" class="avatar-54 photo" width="30%">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>Efficient global penetration depth computation for articulated models</strong>
                        <span>SIAM Conference Solid and Physical Modeling (Journal of Computer-Aided Design)</span>
                    </div>
					<blockquote class="ref-cont clear-mrg">
						<ul>
						<li>Hao Tian, Xinyu Zhang, Changbo Wang, Jia Pan, Dinesh Manocha</li>
						<li>paper <a href="https://www.sciencedirect.com/science/article/pii/S0010448515001074">https://www.sciencedirect.com/science/article/pii/S0010448515001074</a></li>
						</ul>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->