<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin">个人介绍</h2>

            <dl class="dl-horizontal clear-mrg">  
			田浩，华东师范大学计算机科学与软件工程学院2014级博士生，指导教师为张新宇副教授和王长波教授。2018年3月至2019年3月，由国家留学基金委公派联合培养博士生项目资助，前往美国马里兰大学访学一年，在<a href="http://cs.unc.edu/~dm/">Dinesh Manocha</a>教授指导下于<a href="http://gamma.web.unc.edu/">GAMMA</a>实验室学习。2014年获得华东师范大学软件学院工学学士学位。研究方向为灵巧手抓取仿真和规划、碰撞检测、穿透深度(penetration depth)计算、虚拟现实/增强现实(VR/AR)等。
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->