<section class="section brd-btm" id="Eng_basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">

            <dl class="dl-horizontal clear-mrg">  
		Hi! I'm Hao Tian. I'm a graduate student of Department of Computer Science and Software Engineering at East China Normal University, Shanghai, China. Currently, I'm working with Prof. Xinyu Zhang and Prof. Changbo Wang on Computer Graphics and Robotics. I was founded by China Scholarship Council as a visiting scholar to work in <a href="http://gamma.web.unc.edu/">GAMMA</a> lab under the guidance of Prof. <a href="http://cs.unc.edu/~dm/">Dinesh Manocha</a> in University of Maryland at College Park from March 2018 to Marh 2019. I completed my Bachelor's degree in Sofware Engineering Institute in East China Normal University. I'm interested in grasp planning and manipulation planning for dexterous hand, collision detection, VR/AR.
	
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->