<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin">Education</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/ECNU.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="114" width="114">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>East China Normmal University</strong>
                        <span>September 2014 -Now | Department of Computer Science and Software Engineering | Ph.D. candidate </span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
						<ul>
						<li>Advised by Prof. Xinyu Zhang and Prof. Changbo Wang</li>
						<li>Dexterous Hand Grasp Planning, Dexterous Hand Manipulation Planning, Collision Detection</li>
						</ul>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
			<div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/umd.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="120" width="120">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>University of Maryland at College Park</strong>
                        <span>March 2018 - March 2019 | Department of Computer Science | Visiting Scholar</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
						<ul>
						<li>Advised by Prof. <a href="http://cs.unc.edu/~dm/">Dinesh Manocha</a></li>
						<li>Founded by China Scholarship Council</li>
						<li>Dexterous Hand Grasp Planning, Dexterous Hand Manipulation Planning</li>
						</ul>
						
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
			<div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/ECNU.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="114" width="114">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>East China Normal Univerisyt</strong>
                        <span>September 2010 - June 2014 | Software Engineering Institue | Bachelor</span>
                    </div>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->